<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Jaro_MyScript>
            <version>0.1.1</version>
        </Jaro_MyScript>
    </modules>
    <global>
        <resources>
        </resources>
        <helpers>
            <jaro_myscript>
                <class>Jaro_MyScript_Helper</class>
            </jaro_myscript>
        </helpers>
        <models>
            <jaro_myscript>
                <class>Jaro_MyScript_Model</class>
                <resourceModel>jaro_myscript_mysql4</resourceModel>
            </jaro_myscript>
            <jaro_myscript_mysql4>
                <class>Jaro_MyScript_Model_Mysql4</class>
                <entities>
                    <news>
                        <table>news</table>
                    </news>
                </entities>
            </jaro_myscript_mysql4>
        </models>

        <resources>
            <jaro_myscript_setup>
                <setup>
                    <module>Jaro_MyScript</module>
                </setup>
            </jaro_myscript_setup>
        </resources>

        <blocks>
            <jaro_myscript>
                <class>Jaro_MyScript_Block</class>
            </jaro_myscript>
        </blocks>

        <events>
            <on_teachings_after_save_action>
                <observers>
                    <jaro_myscript>
                        <class>Jaro_MyScript_Model_Observer</class>
                        <method>onEventAfterSaveAction</method>
                    </jaro_myscript>
                </observers>
            </on_teachings_after_save_action>
        </events>
    </global>
    <crontab>
        <jobs>
            <cronexample_crontest>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>jaro_myscript/cron::correctFiles</model>
                </run>
            </cronexample_crontest>
        </jobs>
    </crontab>
    <adminhtml>
        <translate>
            <modules>
                <Jaro_MyScript>
                    <files>
                        <default>Jaro_MyScript.csv</default>
                    </files>
                </Jaro_MyScript>
            </modules>
        </translate>
        <layout>
            <updates>
                <jaro_myscript>
                    <file>jaro_myscript.xml</file>
                </jaro_myscript>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <jaro_myscript>
                <use>standard</use>
                <args>
                    <module>Jaro_MyScript</module>
                    <frontName>task_1</frontName>
                </args>
            </jaro_myscript>
        </routers>
        <layout>
            <updates>
                <jaro_myscript module="Jaro_MyScript">
                    <file>jaro/myscript.xml</file>
                </jaro_myscript>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <task1>
                <use>admin</use>
                <args>
                    <module>Jaro_MyScript</module>
                    <frontName>task1</frontName>
                </args>
            </task1>
        </routers>
    </admin>
    <default>
        <plaintable_general>
            <navigation>
                <navigation_routers>a:2:{s:18:"_1571982790353_353";a:4:{s:4:"name";s:5:"Admin";s:4:"path";s:5:"admin";s:5:"order";s:3:"120";s:11:"auth_status";s:1:"0";}s:18:"_1571982799438_438";a:4:{s:4:"name";s:4:"News";s:4:"path";s:17:"task_1/news/index";s:5:"order";s:3:"110";s:11:"auth_status";s:1:"1";}}</navigation_routers>
            </navigation>
        </plaintable_general>
    </default>
</config>
