<?xml version="1.0"?>
<config>
    <modules>
        <Workbench_PlainTable>
            <version>0.1.2</version>
        </Workbench_PlainTable>
    </modules>
    <global>
        <models>
            <workbench_plaintable>
                <class>Workbench_PlainTable_Model</class>
                <resourceModel>workbench_plaintable_resource</resourceModel>
            </workbench_plaintable>
            <workbench_plaintable_resource>
                <class>Workbench_PlainTable_Model_Resource</class>
            </workbench_plaintable_resource>
        </models>
        <blocks>
            <workbench_plaintable>
                <class>Workbench_PlainTable_Block</class>
            </workbench_plaintable>
        </blocks>
        <helpers>
            <workbench_plaintable>
                <class>Workbench_PlainTable_Helper</class>
            </workbench_plaintable>
        </helpers>
        <resources>
            <workbench_plaintable_setup>
                <setup>
                    <module>Workbench_PlainTable</module>
                </setup>
            </workbench_plaintable_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <workbench_plaintable module="Workbench_PlainTable">
                    <file>workbench/plaintable.xml</file>
                </workbench_plaintable>
            </updates>
        </layout>
        <routers>
            <customer>
                <args>
                    <modules>
                        <workbench_plaintable before="Mage_Customer">Workbench_PlainTable</workbench_plaintable>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
    <default>
        <plaintable_general>
            <navigation>
                <navigation_routers>a:1:{s:18:"_1571982790353_353";a:4:{s:4:"name";s:5:"Admin";s:4:"path";s:5:"admin";s:5:"order";s:3:"120";s:11:"auth_status";s:1:"0";}}</navigation_routers>
            </navigation>
            <my_content>
                <enable>1</enable>
                <occupation><![CDATA[PHP Developer]]></occupation>
                <fullname><![CDATA[Jarosław Zieliński]]></fullname>
                <phone><![CDATA[+48 737 606 919]]></phone>
                <email><![CDATA[jarek.zielinski82@gmail.com]]></email>
            </my_content>
        </plaintable_general>
    </default>
</config>
